# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [16]:
# TODO: import the pandas library
import pandas as pd
# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('rural_population_percent.csv')
df_electricity = pd.read_csv('electricity_access_percent.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 63

In [17]:
# Check what's wrong with the files
print('File: ', 'rural_population_percent.csv', '\n')
file = open('rural_population_percent.csv', 'r') 
for i in range(10):
    print('Line ', i, ':', file.readline())
file.close()

print('File: ', 'electricity_access_percent.csv', '\n')

file = open('electricity_access_percent.csv', 'r') 
for i in range(10):
    print('Line ', i, ':', file.readline())
file.close()

File:  rural_population_percent.csv

Line  0 : ï»¿"Data Source","World Development Indicators",

Line  1 :

Line  2 : "Last Updated Date","2018-06-28",

Line  3 :

Line  4 : "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017",

Line  5 : "Aruba","ABW","Rural population (% of total population)","SP.RUR.TOTL.ZS","49.224","49.239","49.254","49.27","49.285","49.3","49.315","49.33","49.346","49.361","49.376","49.391","49.407","49.422","49.437","49.452","49.468","49.483","49.498","49.513","49.528","49.544","49.559","49.574","49.589","49.605","49.62","49.635","49.65","49.665","49.681","49.696","50.002","50.412","50.823","51.233","51.644","52.054","52.464","52.873","53.283","53.661","54.028","54.394","54.76","55.125","55.489","55.853","56.217","56.579","56.941","57.302","57.636","57.942","58.221","58.472","58.696","58.893",

Line  6 : "Afghanistan","AFG","Rural population (% of total population)","SP.RUR.TOTL.ZS","91.779","91.492","91.195","90.89","90.574","90.25","89.915","89.57","89.214","88.848","88.471","88.083","87.684","87.274","86.851","86.417","85.971","85.513","85.042","84.565","84.319","84.07","83.818","83.563","83.304","83.042","82.777","82.509","82.237","81.962","81.684","81.403","81.118","80.83","80.538","80.243","79.945","79.644","79.339","79.03","78.718","78.404","78.085","77.763","77.438","77.105","76.763","76.413","76.054","75.687","75.311","74.926","74.532","74.129","73.718","73.297","72.868","72.43",

Line  7 : "Angola","AGO","Rural population (% of total population)","SP.RUR.TOTL.ZS","89.565","89.202","88.796","88.376","87.942","87.496","87.035","86.559","86.068","85.564","85.043","84.566","84.125","83.676","83.215","82.745","82.263","81.772","81.27","80.758","80.234","79.701","79.157","78.602","78.035","77.459","76.872","76.275","75.666","75.048","74.418","73.779","73.128","72.47","71.8","71.12","70.43","69.732","69.025","68.308","67.581","66.848","66.105","65.355","64.595","63.831","63.058","62.278","61.491","60.701","59.903","59.1","58.301","57.51","56.726","55.95","55.181","54.422",

Line  8 : "Albania","ALB","Rural population (% of total population)","SP.RUR.TOTL.ZS","69.295","69.057","68.985","68.914","68.842","68.77","68.698","68.626","68.554","68.452","68.26","68.067","67.873","67.679","67.484","67.288","67.092","66.895","66.698","66.5","66.238","65.976","65.713","65.448","65.183","64.917","64.65","64.381","64.112","63.842","63.572","63.3","62.751","62.201","61.646","61.089","60.527","59.965","59.399","58.831","58.259","57.565","56.499","55.427","54.349","53.269","52.185","51.098","50.009","48.924","47.837","46.753","45.67","44.617","43.591","42.593","41.624","40.684",

Line  9 : "Andorra","AND","Rural population (% of total population)","SP.RUR.TOTL.ZS","41.55","39.017","36.538","34.128","31.795","29.555","27.407","25.359","23.412","21.576","19.845","18.22","16.699","15.284","13.968","12.748","11.618","10.58","9.622","8.743","7.93600000000001","7.2","6.526","5.911","5.351","4.84099999999999","4.675","4.822","4.973","5.128","5.288","5.47","5.676","5.889","6.11","6.339","6.575","6.81999999999999","7.07299999999999","7.334","7.605","7.944","8.35899999999999","8.79300000000001","9.249","9.705","10.162","10.637","11.133","11.648","12.183","12.74","13.292","13.835","14.367","14.885","15.388","15.873",

File:  electricity_access_percent.csv

Line  0 : ï»¿"Data Source","World Development Indicators",

Line  1 :

Line  2 : "Last Updated Date","2018-06-28",

Line  3 :

Line  4 : "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017",

Line  5 : "Aruba","ABW","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","88.4453506469727","88.7808456420898","89.1158294677734","89.44775390625","89.7735595703125","90.0901870727539","90.3945846557617","90.6836776733398","90.9544219970703","91.2037506103516","91.6603980031457","91.6380920410156","91.8337173461914","92.0230484008789","92.2121658325195","92.4071197509765","92.6139831542969","92.8388214111328","93.086166381836","93.3545455932617","93.3562921509542","93.9423751831055","94.2558135986328","94.5782623291016","94.9067230224609","95.2381820678711","95.5701446533203","",

Line  6 : "Afghanistan","AFG","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.0219771377742291","0.179634585976601","0.959755897521973","0.77653694152832","6.26739358901977","11.7519664764404","17.2363185882568","23","28.2286128997803","33.7486801147461","42.4","44.8548851013184","42.7","43.2220189082037","69.1","67.2595520019531","89.5","71.5","84.1371383666992","",

Line  7 : "Angola","AGO","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","11.3978080749512","12.5793790817261","13.7604398727417","14.9384412765503","16.1103248596191","17.2730312347412","18.4235019683838","19.5586757659912","20.6754951477051","21.7709007263184","22.843355178833","20","24.939094543457","25.9745082855225","27.0097007751465","28.0507354736328","29.1036758422852","37.5","31.2680130004883","32.3824691772461","33.514949798584","34.6","35.821964263916","36.9904899597168","32","42","40.5206069946289","",

Line  8 : "Albania","ALB","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","",

Line  9 : "Andorra","AND","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","",

In [18]:
# We must skip first 4 lines for each file

df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)

df_rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

In [19]:
df_electricity.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [21]:
# TODO: remove the 'Unnamed:62' column from each data set

df_rural.drop(columns='Unnamed: 62', inplace=True)
df_electricity.drop(columns='Unnamed: 62', inplace=True)

In [22]:
# TODO: combine the two data sets together using the concat method

df = pd.concat([df_rural, df_electricity])

# Exercise 2 (Challenge)

This exercise is more challenging.

The resulting data frame should look like this:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [4]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value

# TODO: drop any columns from the data frames that aren't needed

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year

# TODO: sort the results by country and then by year

df_combined = None